mixin area(area)
    div
      h4
        a(href=`/area/${area.id}`)= area.area
        div
          p 법원명: #{area.scourt}
          div  
            ul
              each item in areas                
                li
                  a(href=`/area/${area.id}`)= item.network
          div
            small Subnet : #{area.subnet}          
          
      
