extends base.pug

block content 
  form(method="POST")
        input(placeholder="Area", required, type="text", name="area", maxlength="20")
        input(placeholder="Scourt", required, type="text", name="scourt" maxlength="20")
        input(placeholder="switchip", required, type="text" name="switchip", minlength="7", maxlength="15", size="15", pattern="^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$")  
        input(placeholder="Community", required, type="text" name="community")  
        input(placeholder="Network", required, type="text", name="network" )
        input(placeholder="Subnet", required, type="text", name="subnet", minlength="7", maxlength="15", size="15", pattern="^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$")      
        input(type="submit", value="Upload Area")
  
