doctype html
html(lang="ko")
    head
        title #{pageTitle} | IP_Manager
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
        
    body
        header
            h1=pageTitle
        div
          div 
            ul
              li
                a(href=`/area/upload`) 추가
              li
                a(href=`/area/delete`) 삭제
          div
            ul
              li 
                a(href=`/`) Root
                  ul
                    each val in areas                       
                        li 
                          a(href=`/`)= val.area                     
        main  
            block content
    include partials/footer.pug
